@charset "UTF-8";
/* CSS Document */

/* class "." id "#" */



div,p,body,header,footer,section, article,nav
{
	margin:0px;
	padding:0px;
}
body
{
	font-family: Helvetica, Arial, Sans-serif, Serif;
	font-family: 'Raleway', sans-serif;
	font-family: 'Shadows Into Light', cursive;
	font-size: 14px;
	background-color: #f6c5c0;
	overflow: auto;
	/* use backgroud-color here to give everything a color. */
	/* this is the colo of the outside */

}

p
{
	line-height:20px;

 /* all adjustments for anything with a "p" is adjusted here and it will be effected everywhere else. */
	/* didnt have before */
}



.hidden
{
	display: none;
}

#container
{
	margin: 0 auto;
	/* margin: 0 auto; makes it centered . . . 0px doesnt work */
	width: 960px;
	/* overflow:hidden; */
	background-color: #c1a29b;
	/* this is the color on the inside. or that might be the siteContainer */

}
 ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:inherit;
}

li{
	float: right;
	/* makes it fall over and be inline rather than ontop */
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;

}


#mainCon p
{
	background-color: white;
	text-align: center;
	border-radius: 0px 0px 45px 45px;
	margin-bottom: 40px;
}


#mainNav
{
	float: right;
	overflow: hidden;
	background-color: inherit;
  display: block;
	width:100%;
	height: 100%;
padding:10px;
font-size: 20px;

}

#mainNav hover
{
	font-size:35px;
	width: 130%;
	height: 130%;
transition: transform 0.3s;
transform: scale(1.4);
transition:all 0.3s ease-in;
color:#333;
border-bottom: solid 3px #333;
padding-bottom: 5px;
}

headerImage
{
height:200px;
width: 960px;
}

headerImage img
{
	max-width: 100%;
	max-height: 100%;
	margin:auto;
	display: block;
}

#siteContainer
{
margin: 0 auto;
width: 960px;
padding-left: 20px;
padding-right: 20px;
	background-color: #b4baba;
	display: block;
	overflow: auto;
}

#container
{
	margin: 0 auto;
	width: 960px;
	padding-left: 20px;
	padding-right: 20px;
		background-color: #c1a29b;

}

.container
{
	margin: 0 auto;
	width: 960px;
	padding-left: 20px;
	padding-right: 20px;
		background-color: #b1a692;
		overflow: auto;
}


/*
mainHeader
{
	float:left;
	width:740px;
	height:430px;
	background-color:none;
} */

.headerPro
{
	overflow:auto;
	/* fixes collaps */
	margin-bottom: 40px;
	padding-bottom: 40px;

}

.headerPro p{
	line-height: 300px;
	padding-bottom: 40px;
	/* look at why it doesn't work */
}

#mainHead h1{
		font-size: 34px;
	text-align: center;
	margin:auto;
	margin-top: 40px;
}

#mainHead h1 hover
{
	font-size:50px;

}
#mainCon
{
	margin:auto;
	padding-top:40px;
	margin-top: 40px;
	padding-top: 50px;
	overflow: auto;
	/* needed overflow to stay in the container */
}
#mainCon hover

{
	transform:scale(1.2);
	transition-timing-function:ease-in;
 transition-duration: 0.3s
}

/* overflow makes them work with border radius */
.weddingOc
{
	float: left;
margin-right: 30px;
border-radius: 5px;
overflow: auto;
height:80%;
width:80%;
/* this isnt working to ask someone how t round edges in class */

}
.weddingOc hover
{
	background: #333;
	border-radius: 40px;
	overflow: auto;
	transform: scale(1.3);
	transition-duration: 0.3s;
	height: 120%;
	width:120%;
	transition-timing-function:ease-in-out;
	position: relative;
	box-shadow:10px 10px 10px 5px grey;
}

.gallImg
{
	float:left;
	margin-left: 38px;
position: relative;
border-radius: 5px;
width:273px;
overflow: auto;

}


.gallImg hover
{
	background:#333;
	border-radius: 40px;
	overflow: auto;
	transform: scale(1.3);
		transition-duration: 0.3s;
}
	.simpleHen
	{
		float:left;
	margin-right: 73px;
	position: relative;
	width:273px;
	border-radius:5px;
	overflow-x: auto;
	}

.simpleHen hover
{

}
	/* need to get back to these and fix them */

/* end of home page */



#promoSec
{
border: 5px solid white;
background-color: #c1a29b;
}

#promoInfo1, #promoinfo2
	{
border: 10px;

	}

#promoInfo1 h1
{
	font-size: 34px;
color:#333;
line-height: 44px;
margin-bottom: 20px;
margin-top:30px;
 text-align: center;
}
 /* there is an issue with the first tyle not being effected */

 #promoInfo2 h1
 {
 	font-size: 34px;color:#333;
 line-height: 44px;
 margin-bottom: 20px;
 margin-top:30px;
 text-align: center;
 }





#promoInfo2 p, #promoInfo1 p
{

		font-size: 16px;


			width: 700px;
			 margin-left: 130px;
			 	padding-bottom: 30px;
				color: white;
}






/* about page starts */

#hoursOf
{
border: 5px solid white;
padding-top: 20px;
background-color: #c1a29b;

}

#hoursOf hover
{

}


#mainFooter
{
margin-top: 40px;
margin-bottom: 40px;
overflow: hidden;
}

#footerNav
{
	float: left;
	width: 500px;
}

#copyRight
{
	float: right;
	width: 310px;
}


#genRadio{

	margin: auto;
}
#timeRadio1
{
	margin: auto;
	float:right;
	align-content: center;
	overflow: auto;


}



.contact-left {
	float: right;
	overflow: hidden;
    padding: 10px 10px 15px;
    background:#b4baba ;
	width: 300px;
	height:auto;
	border-radius: 8px;

}
.contact-left  {
	font-size: 20px;
	text-align: left;
	margin: auto;

margin-top:40px;
padding-top: 40px;
text-align: center;
margin-right: 350px;
margin-bottom: 60px;
}



.contact-left input[type="text"],.contact-left input[type="email"],.contact-left textarea{
	outline: none;
    border: none;
    border-bottom: 1px solid black;
    padding: 7px 10px;
    background: transparent;
    color: #fff;
    font-size: 14px;
    width: 95%;
		overflow: auto;
}
.contact-left textarea {
    min-height: 100px;
    resize:horizontal;
    margin-top: 1em;
}
.contact-left input[type="submit"] {
    outline:inherit;
    border: none;
    padding: 7px 30px;
    padding-top: 10px;
    background: grey;
    color: #fff;
    font-size: 14px;
	margin: 1em 0;
	overflow-x: auto;
}
.contact-left input[type="submit"]:hover{
	background:#2b2b2b;
}

#hoursOf a
{
	font-size: 30px;
	height:60px;

	line-height: 40px;
	padding-bottom: 40px;
	text-align:center;
}



#mainFooter
{
	overflow: auto;
display: inline;
float: left;
width:960px;
height: 40px;
text-align: right;
font-size: 25px;
background-color: grey;
padding-top:12px;
padding-bottom:3px;
padding-right:10px;
}


/* end of home page */









/* end of about page */







/* end of contact page */
