@charset "UTF-8";
/* CSS Document */

/*HTML/General Selectors*/

body
{
	font-family: 'Average Sans', Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
	background-color: #fff;
}

p
{
	line-height: 20px;
}

a
{
	text-decoration: none;
	color: red;
}

a:hover
{
	color: #ccc;
}

/*Utility Classes*/

.hidden
{
	display: none;
}

/* main page layout */


.clearfix::after{
	content:"";
	visibility: hidden;
	display: block;
	height:0;
	clear:both;
}

.roundShadow
{
	border-radius: 7px;
	box-shadow:0px 0px 15px rgba(50,50,50,0.4);
}

#topBar
{
	background-color: #333;
	height: 20px;
}

#clientLogin
{
	float: right;
	margin-right: 20px;
	font-size: 10px;
	line-height: 20px;
}

#topBar a
{
	color: #fff;
}

#topBar a:hover
{
	color: #999;
}

#siteContainer
{
	margin: 0 auto; /*center container*/
	width: 960px;
}

#mainHeader
{
	margin-top: 40px;
	/*background-color: red;*/
	border-bottom: solid 1px #DDD;
	height: 100px; /*static content, okay to hardcode height*/
	padding-bottom: 20px;
}

#logo
{
	float: left;
	width: 205px;
	margin-top: 5px;
}

#logo h1
{
	font-size: 44px;
	color: red;
}

#logoStudios
{
	font-size: 60px;
	color: #333;
	letter-spacing: -1px;
	line-height: 40px;
}

#mainNav
{
	float: right;
}

#search
{
	float: right;
}

#search form
{
	margin-bottom: 20px;
}

#search input
{
	background: url('../images/search_white.png') no-repeat 10px 6px;
	width: 150px;
	padding: 6px 15px 6px 35px; /*trbl*/
	border: 1px solid #d1d1d1;
	border-radius: 20px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.15) inset;
}

#mainNav ul
{
	clear: right;
	float: right;
	text-transform: uppercase;
	margin-top: 10px;
}

#mainNav ul li
{
	float: left;
}

#mainNav ul li a
{
	display: block;
	width: 100px;
	background-color: red;
	color: #fff;
	margin-left: 20px;
	text-align: center;
	padding: 8px;
	font-size: 16px;
	border-radius: 7px;
	background: #ff3019;
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404));
	background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%);
	background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%);
	background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%);
	background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
}

#mainNav ul li a:hover
{
	background: rgb(226,29,22);
	background: -moz-linear-gradient(top, rgba(226,29,22,1) 0%, rgba(170,8,3,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,29,22,1)), color-stop(100%,rgba(170,8,3,1)));
	background: -webkit-linear-gradient(top, rgba(226,29,22,1) 0%,rgba(170,8,3,1) 100%);
	background: -o-linear-gradient(top, rgba(226,29,22,1) 0%,rgba(170,8,3,1) 100%);
	background: -ms-linear-gradient(top, rgba(226,29,22,1) 0%,rgba(170,8,3,1) 100%);
	background: linear-gradient(to bottom, rgba(226,29,22,1) 0%,rgba(170,8,3,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e21d16', endColorstr='#aa0803',GradientType=0 );
}

#companyInfo
{
	margin-top: 40px;
	border-bottom: solid 1px #ddd;
	padding-bottom: 30px;
	/* overflow: hidden; */
}

#companyDesc
{
	float: left;
	width: 630px;
}

#promoImage
{
	float: right;
	width: 305px;
	margin-top: 10px;
	/* transition: 0.2s ease-in; */
}

#promoImage hover
{

}

#companyDesc h2
{
	font-size: 34px;
	font-family: 'Fjalla One', Helvetica, Arial, sans-serif;
	color: #333;
	line-height: 44px;
	margin-bottom: 20px;
}

#companyDesc p
{
	font-size: 16px;
}

#hire
{
	background-color: #666;
	width: 200px;
	display: block;
	color: #fff;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 45px;
	font-size: 18px;
	border-radius: 7px;
	transition: all .2s ease-in;
}

#hire:hover
{
	background-color: #333;
	border-radius: 30px;
}

/* services */

#service
{
	margin-top:40px;
	border-bottom: solid 1px #DDD;
	padding-bottom:40px;
}

#service h2
/* this is for the headers  */
{
	font-family: 'Fjalla One', Helvetica, Arial, Sans-serif;
	color:#333;
	font-size:20px;
	/* give space for h2 */
	margin-top:20px;
	margin-bottom:10px;
}
.serviceDesc
{
	float:left;
	width:304px;
	margin-right:24px;
	margin-bottom:40px;
}

.serviceDescLast
{
	float:right;
	width:304px;
		margin-bottom:40px;
}

#service img
{
	/* -1 makes it start invisible and appear with the hover */
opacity: 1;
transition: opacity .24s ease-in;
}

#service img:hover
{
	/* -.6 makes it start invisible and appear with hover */
	opacity:0.6;
}

/* footer */
/*
there is an issue witht the footer. something must be open or missing becuase
it doesn't have the same breaks in the video example */

#mainFooter
{
	margin-top:40px;
	margin-bottom:40px;
}

#footerNav
{
	float:left;
	/* floated to the left naturally but writen in
	 so that then nav can be floated to the right. */
	width:500px;
	height:30px;
}

#footerNav ul li
{
display: inline;
/* so they are not ontop of each other anymore	 */
font-size:12px;
margin-right:20px;
}

#footerNav ul li a

{
	color:#666;
	transition:all 0.3s ease-in;
}

#footerNav ul li a:hover
{
color:#333;
border-bottom:solid 3px #333;
padding-bottom:5px;
/* believe padding bottom gives the bottom
 line that transitions and can be used for mark */

}
